$primaryColor: #E55803;
$secondaryColor: #1aa7fc;
$backgroundColor: #555555;

@mixin inverseColor {
    background: black;
    color: $secondaryColor;
    border-color: $secondaryColor;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    text-align: center;
    background: darken($backgroundColor, 10%);
    color: $primaryColor;
}

h1 {
    font-size: 5rem;
    margin: 1.5rem 0;
}

label {
    padding: 0.5rem;
    font-size: 2rem;
    border: 3px solid $primaryColor;
    margin: 1.8rem;
    background-color: $backgroundColor;
    border-radius: 1rem;
}

button {
    padding: 0.5rem;
    font-size: 1.5rem;
    border: 3px solid $primaryColor;
    border-radius: 2rem;
    background: $backgroundColor;
    color: $primaryColor;
    width: 5rem;
    margin: 1rem;
}

img {
    max-height: 75vw;
    margin-top: 1rem;
}
span {
    margin: 0.5rem;
}

.gameButtons button {
    font-size: 2rem;
    width: 8rem;
    margin-top: 2rem;

    &:disabled {
        opacity: 0.3;
    }
}

.difficulty input {
    display: none;
      
    &:checked + label{
        @include inverseColor;
    }
    
    &:disabled + label {
        opacity: 0.3;
    }
}

.selected {
    @include inverseColor;
}

#guessBoard {
    margin: 1rem;
}

#secretWord {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    button {
        font-size: 3.5rem;
    }
}